<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="mybatis.mapper.coupon-mapper">
  	<!-- <select id="listCoupon" resultType="CouponDTO">
  		select * from javabucks_coupon
  	</select> -->
  	
  	<insert id="insertCoupon" parameterType="CouponDTO">
	    insert into javabucks_coupon (cpnCode, cpnName, cpnPrice, cpnDesc) values (#{cpnCode}, #{cpnName}, #{cpnPrice}, #{cpnDesc})
	</insert>

  </mapper>