<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="mybatis.mapper.sales-mapper">
  
  	<select id="checkBucksId" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM javabucks_bucks 
        WHERE bucksId = #{bucksId}
    </select>

   <!-- 이메일 중복 확인 쿼리 -->
    <select id="checkEmail" parameterType="BucksDTO" resultType="int">
        SELECT COUNT(*) FROM javabucks_bucks WHERE bucksEmail1 = #{bucksEmail1} AND bucksEmail2 = #{bucksEmail2}
    </select>
   
   <!-- 지점 등록 -->
     <insert id="addBucks" parameterType="BucksDTO" >
     	INSERT INTO javabucks_bucks (
            bucksId, bucksPasswd, bucksOwner, bucksName, bucksLocation, bucksEmail1, 
            bucksEmail2, bucksTel1, bucksTel2, bucksTel3, 
            bucksJoindate, bucksEnable) VALUES (
            #{bucksId},
            #{bucksPasswd},
            #{bucksOwner},
            #{bucksName},
            #{bucksLocation},
            #{bucksEmail1},
            #{bucksEmail2},
            #{bucksTel1},
            #{bucksTel2},
            #{bucksTel3},
            SYSDATE,
            DEFAULT
        )
     </insert>
     
     <!-- 특정 검색에 해당하는 지점 리스트 -->
     <select id="searchBucks" parameterType="map" resultType="BucksDTO">
        SELECT * FROM javabucks_bucks
        WHERE 
            (#{bucksName} IS NULL OR bucksName LIKE '%' || #{bucksName} || '%')
            AND (#{bucksId} IS NULL OR bucksId LIKE '%' || #{bucksId} || '%')
            AND (#{bucksLocation} IS NULL OR bucksLocation LIKE '%' || #{bucksLocation} || '%')
            AND (
                (#{startDate} IS NULL OR #{endDate} IS NULL) 
                OR bucksJoindate BETWEEN #{startDate} AND #{endDate}
            )
    </select>
    
    <select id="editbucks" parameterType="String" resultType="BucksDTO">
    	Select * FROM javabucks_bucks WHERE bucksId = #{bucksId}
    
    </select>
  </mapper>