<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="mybatis.mapper.user-mapper">
 	<insert id="addNewCard" parameterType="CardDTO">
 		INSERT INTO javabucks_card (
 			cardRegNum, userId, cardName, cardPrice
 		)
 		VALUES (
 			#{cardRegNum}, #{userId}, #{cardName}, 0
 		)
 	</insert>
 
 	<select id="listRegCardById" parameterType="String" resultType="CardDTO">
 		SELECT * FROM javabucks_card WHERE userId=#{userId}
 	</select>
 	
 	<select id="checkCardDupl" parameterType="String" resultType="CardDTO">
 		SELECT * FROM javabucks_card WHERE cardRegNum=#{cardRegNum}
 	</select>
 
 	<select id="compareCardNum" parameterType="String" resultType="CardListDTO">
 		SELECT * FROM javabucks_cardList
 		WHERE cardListRegNum = #{cardRegNum} 
 	</select>
 	
 	<update id="modifyCardStatus" parameterType="String">
 		UPDATE javabucks_cardList SET
 		cardListStatus='Y',
 		cardListRegDate=SYSDATE
 		WHERE cardListRegNum=#{cardRegNum}
 	</update>
 	
 	<update id="updateCardName" parameterType="java.util.Map">
 		UPDATE javabucks_card SET cardName=#{cardName} WHERE cardRegNum=#{cardRegNum}
 	</update> 
 	
	<!-- 페이히스토리 카드충전 -->
 	<insert id="paychargeCard" parameterType="PayhistoryDTO">
		INSERT INTO javabucks_payhistory (payhistoryNum, userId, cardRegNum, bucksId, orderCode, cpnListNum, payhistoryDate, payhistoryPrice, payhistoryPayType, payhistoryPayWay)
		VALUES (seq_payhistoryNum.nextval, #{userId}, #{cardRegNum}, NULL, NULL, NULL, sysdate, #{payhistoryPrice}, #{payhistoryPayType}, #{payhistoryPayWay})
 	</insert>
 	
	<!-- 카드금액충전 -->
	<update id="plusCardPrice" parameterType="java.util.Map">
		Update javabucks_card SET cardPrice = cardPrice + #{payhistoryPrice}
		WHERE cardRegNum = #{cardRegNum}
	</update>
 	
 	<!-- 채성진 작업 추가 -->
 	<select id="getInfoById" resultType="UserDTO">
 		SELECT * FROM javabucks_user WHERE userId= 'user001'
 	</select>
 	
 	<select id="getFrequencyById" resultType="FrequencyDTO"> 
 		SELECT jf.* 
 		FROM javabucks_frequency jf join javabucks_user ju on jf.userId = ju.userId
 		WHERE jf.userId = 'user001'
 	</select>
 	
 	<select id="getCouponListById"  resultType="CouponListDTO"> 
 		SELECT cl.*, cc.cpnName, cc.cpnDesc 
 		FROM javabucks_couponList cl join javabucks_coupon cc on cl.cpncode = cc.cpncode
 		WHERE cl.userId = 'user001' and cl.cpnListStatus = 'useable' 
 	</select>
 	
 	<select id="getStoreList"  parameterType="String" resultType="BucksDTO"> 
 		SELECT * FROM javabucks_bucks WHERE bucksName like  '%'#{검색}'%' or bucksLocation like '%'#{검색}'%'
 	</select>
 	
 </mapper>